@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.scroll-top
		right: 15px
		background-color: $border-dark

	.product-descr
		padding: 0

	.product-contacts
		padding-left: 0

	.faq-item
		&.active
			&:before
				left: -93px

	.account-sidebar
		padding: 0 50px

	.checkout
		padding: 
			left: 15px
			right: 15px

	.main-mnu
		.main-mnu-list
			&>li
				margin-right: 10px
				&>a
					font-size: 12px

	.main-banner
		.product-slider-arr
			&_prev
				left: 20px
			&_next
				right: 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.top-line
		padding: 30px 0

	.footer-main__item
		margin-right: 20px

	.footer-main__mnu
		padding-right: 20px

	.footer-main__title
		font-size: 14px

	.footer-social 
		li 
			a
				height: 38px
				width: 38px
				line-height: 36px

	.page-top-links
		li
			max-width: 330px

	.products-sidebar
		width: calc(30% - 10px)

	.product-greed
		width: 70%

	.product-descr
		padding-top: 30px

	.product-title
		padding-right: 0

	.product-title,
	.product-subtitle,
	.product-model
		text-align: center
		&:before
			right: 0
			margin: 0 auto

	.product-details
		padding: 0

	.question-list
		padding-right: 0

	.quick-view
		.product-model,
		.product-subtitle
			text-align: left

	.faq-item
		&.active
			&:before
				left: -15px

	.account-sidebar
		padding: 0

	.inner-section
		padding: 
			top: 20px
			bottom: 50px
			right: 15px
			left: 15px
		margin-bottom: 50px

	.cart-promocode
		padding: 
			left: 15px
			right: 15px

	.checkout-main,
	.checkout-right
		width: 100%

	.checkout-right
		margin-top: 30px
		.account-title
			padding-left: 0

	.checkout-form
		padding-left: 0

	.account-information__left,
	.account-information__right
		width: 100%

	.account-information__left
		margin-bottom: 30px

	.wishlist
		border-top: 1px solid $border
		thead
			display: none
		tbody
			tr
				display: block
				position: relative
			td
				display: block
				width: 100%
				height: auto
				padding: 0 15px
				margin-top: 10px
				&:nth-child(2)
					text-align: center
					padding: 0 15px

	.main-mnu
		.main-mnu-list
			&>li
				margin-right: 10px
				&>a
					font-size: 9px
					padding-bottom: 10px

	.submenu__title
		font-size: 14px
		margin-bottom: 20px

	.submenu__list
		margin-bottom: 20px
		font-size: 10px

	.submenu__all-brands
		float: none

	.search-form
		top: 4px

	.search-btn
		margin-top: 10px

	.main-page-list 
		ul 
			li 
				a
					font-size: 12px
					padding: 0 20px

	.main-category
		li
			width: 33%
			&:nth-child(4)
				margin-left: 17%

	.cart-main 
		td
			&:nth-child(2)
				padding: 0 30px

	.cart-main__name
		max-width: 220px

	.products-item
		.btn
			display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.logo
		line-height: 27px
		img
			display: inline-block
			max-height: 27px

	.search-form
		right: 10px
		width: 80vw
		top: 0
		.input
			height: 28px !important
		.search-btn-reset
			top: 5px
			right: 2px

	.footer-main
		display: block
		border: none

	.footer-main__item
		margin: 0
		margin-bottom: 10px
		padding: 0
		border-bottom: 1px solid #c8c8c8
		&:last-child
			border: none

	.footer-main__title
		font-size: 12px
		margin-bottom: 10px
		padding-right: 10px
		i
			display: inline
			transition: .2s
		&.active
			i
				color: $main
				transform: rotate(180deg)

	.footer-main__mnu
		height: auto !important
		border: none
		display: none
		padding-right: 0
		font-size: 10px
		margin-top: 10px
		li
			margin-bottom: 15px
			&:before
				content: '- '

	.footer-bottom
		text-align: center
		border: none

	.footer-social
		text-align: center

	.footer-subscribe
		float: none
		margin: 20px 0
		max-width: 100%

	.page-top-links
		li
			max-width: 100%
			margin:
				left: 0
				right: 0

	.product-greed,
	.products-sidebar
		width: 100%

	.product-btns
		li
			width: 100%

	.product-prices
		text-align: center

	.products-icons
		position: static
		text-align: center
		padding-top: 20px

	.product-slider
		padding-top: 0

	.product-slider-arr
		&_prev
			left: -15px
		&_next
			right: -15px

	.product-details
		li
			.product-details__left
				width: 160px
			&:last-child
				border-bottom: 1px solid $border

	.tabs-caption 
		li
			display: block
			margin-right: 0

	.make-an-offer-form
		width: 100%

	.make-an-offer__left
		width: 100%
		margin: 0 auto
		float: none

	.knowledge-base
		margin-bottom: 30px

	.paypal-finance
		.text-block
			padding: 0

	.about-subscribe
		margin-top: 30px

	.account-sidebar
		padding-bottom: 30px

	.login-block
		height: auto !important

	.login-block__text
		padding-top: 0

	.login-block__btn
		position: static

	.btn_amazon
		max-width: 100%

	.cart-main
		border-top: 1px solid $border
		thead
			display: none
		tbody
			tr
				display: block
				position: relative
				padding-left: 85px
			td
				display: block
				width: 100%
				height: auto
				padding: 7px 15px
				text-align: left
				border-left: 1px solid $border
				border-bottom: 1px solid $border
				font-size: 14px
				&:nth-child(2)
					padding: 7px 30px 7px 15px
					white-space: normal
			.cart-main__qty
				padding-bottom: 0	
			.cart-main__img
				position: absolute
				left: 0px
				top: 50%
				transform: translateY(-50%)
				width: 85px
				padding: 0
				border: none
			.cart-main__delete
				position: absolute
				width: 50px
				height: 50px
				right: 0
				top: -6px
				z-index: 1
				padding: 0
				margin: 0
				text-align: right
				border: none
				a
					font-size: 30px
			.cart-main__total
				padding-bottom: 10px
				border-bottom: none
				text-align: right
				font-size: 16px
			.cart-main__name
				white-space: normal
				font-weight: normal
				height: 28px


	.cart-main__model,
	.cart-main__text
		display: none

	.financing-program,
	.cart-promocode
		width: 100%
		padding: 0
	
	.cart-promocode
		border: none
		margin-top: 20px

	.recent-orders
		.recent-orders__head
			display: none
		tr
			border-bottom: 1px solid $border
		td
			display: block
			border: none
			text-align: right
			strong
				display: inline
				float: left

	.account-inner
		padding-left: 0

	.account-edit-form__inner
		padding: 0

	.view-order-title-right
		float: none
		margin-top: 15px

	.items-ordered-wrap
		overflow-y: scroll

	.items-ordered
		td
			padding: 0 5px

	.payment-info
		margin: 0

	.main-page-list 
		ul 
			display: block
			li
				display: block
				a
					border-left: none
					border-right: none
					border-bottom: 2px solid $border
					&:before
						display: none !important
					&:hover
						background-color: $accent
						color: #fff
				&:last-child
					a
						border: none

	.main-readmore
		padding: 8px 62px 8px 15px

	.main-readmore__btn
		width: 62px

	.main-category
		li
			width: 100%
			&:nth-child(4)
				margin-left: 0
	
	.fav-item
		&_2
			padding: 40px 30px
			img
				height: 75%
				right: -86px
		&_4
			padding: 40px 30px
			img
				height: 160px
		&_5
			img
				height: 160px

	.main-banner
		.product-slider-arr
			display: none !important

	.top-line
		padding: 10px 0

	.search-btn
		font-size: 22px
		margin-top: 0
		&_desctop
			display: none

	.main-mnu
		display: none
		position: absolute
		top: 47px
		z-index: 999
		left: 0
		width: 240px
		padding: 0 0 0 15px
		.main-mnu-list
			display: block
			text-align: center
			&>li
				display: block
				margin-right: 0
				&>a
					display: inline-block
					border-bottom: 1px solid #fff	
					padding-bottom: 9px

	.homepage-title
		font-size: 22px

	.submenu
		width: 100%
		position: absolute
		left: 0
		right: 0
		top: 53px
		padding: 0 0 10px 
		display: none
		transform: none
		opacity: 1
		border: none
		&.active
			display: block

	.back-to-main
		display: block

	.submenu__title
		font-size: 11px

	.submenu__list 
		li
			margin-bottom: 6px

	.submenu__abc
		width: 100%
		margin-bottom: 20px
		tr
			a
				height: 23px
				width: 23px
				font-size: 10px
				line-height: 23px

	.header-mobile-top
		display: block
		border-top: 1px solid $border
		border-bottom: 1px solid $border
		padding-right: 15px
		li
			&:first-child
				float: left
				line-height: 30px

	.header-mobile-bottom
		display: block
		text-align: center
		border-top: 1px solid $border
		li
			position: relative

	.currency-mnu
		top: 26px
		left: -50px

	.header-mobile-phone
		display: block

	.products-item__price
		font-size: 20px
	
	.products-sidebar
		display: none
		.btn
			display: none

	.sidebar-dropdown
		display: block

	.currently
		.block-subtitle
			display: none
		ol
			list-style-type: none
			padding: 0
			li
				display: inline-block
				position: relative
				border: 1px solid $border
				padding: 5px 10px
				font-size: 10px
				.label
					display: none
				.btn-remove
					position: absolute
					display: block
					width: 100%
					height: 100%
					opacity: 0
				&:hover
					background-color: $accent-dark
					color: #fff
					border-color: $accent-dark
	.product-contacts,
	.product-prices,
	.products-icons
		display: none
		&_mobile
			display: block

	.product-contacts
		text-align: center
		li
			display: inline-block
			margin: 5px 10px

	.product-details
		.more
			display: none

	.more-details
		display: block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.add-to-card__btns
		li
			width: 100%

	.quick-view__btns
		li
			width: 100%
			padding-bottom: 10px
			&:last-child
				padding-left: 0

	.contacts-list
		li
			.contacts-list__left
				&_long
					display: block

	.orders-and-returns
		padding: 20px 15px

	.content-404
		padding: 40px 0

	.content-404__main
		font-size: 150px

	.content-404__title
		font-size: 24px

	.checkout-total
		span
			float: none
			display: block
			margin-top: 5px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.footer-main__mnu,
	.main-mnu,
	.products-sidebar
		display: block !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/


