@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.scroll-top
		right: 15px
		background-color: $border-dark

	.product-descr
		padding: 0

	.product-contacts
		padding-left: 0

	.faq-item
		&.active
			&:before
				left: -93px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.top-line
		padding: 30px 0

	.footer-main__item
		margin-right: 20px

	.footer-main__mnu
		padding-right: 20px

	.footer-main__title
		font-size: 14px

	.footer-social 
		li 
			a
				height: 38px
				width: 38px
				line-height: 36px

	.page-top-links
		li
			max-width: 330px

	.products-sidebar
		width: calc(30% - 10px)

	.product-greed
		width: 70%

	.product-descr
		padding-top: 30px

	.product-title
		padding-right: 0

	.product-title,
	.product-subtitle,
	.product-model
		text-align: center
		&:before
			right: 0
			margin: 0 auto

	.product-details
		padding: 0

	.question-list
		padding-right: 0

	.quick-view
		.product-model,
		.product-subtitle
			text-align: left

	.faq-item
		&.active
			&:before
				left: -15px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.footer-main
		display: block
		text-align: center

	.footer-main__item
		margin: 0

	.footer-main__mnu
		height: auto !important
		border: none
		display: inline-block
		padding-right: 0

	.footer-bottom
		text-align: center

	.footer-social
		text-align: center

	.footer-subscribe
		float: none
		margin: 20px 0

	.page-top-links
		li
			max-width: 100%
			margin:
				left: 0
				right: 0

	.product-greed,
	.products-sidebar
		width: 100%

	.product-btns
		li
			width: 100%

	.product-prices
		text-align: center

	.products-icons
		position: static
		text-align: center
		padding-top: 20px

	.product-slider
		padding-top: 0

	.product-slider-arr
		&_prev
			left: -15px
		&_next
			right: -15px

	.product-details
		li
			.product-details__left
				width: 160px
			&:last-child
				border-bottom: 1px solid $border

	.tabs-caption 
		li
			display: block
			margin-right: 0

	.make-an-offer-form
		width: 100%

	.make-an-offer__left
		width: 100%
		margin: 0 auto
		float: none

	.inner-section
		padding: 
			top: 20px
			bottom: 50px
		margin-bottom: 50px

	.knowledge-base
		margin-bottom: 30px

	.paypal-finance
		.text-block
			padding: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.add-to-card__btns
		li
			width: 100%

	.quick-view__btns
		li
			width: 100%
			padding-bottom: 10px
			&:last-child
				padding-left: 0

	.contacts-list
		li
			.contacts-list__left
				&_long
					display: block

	.orders-and-returns
		padding: 20px 15px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

