@import "fonts"
@import "libs"
@import "vars"
@import "base"

.container
	position: relative

.before
	content: ''
	display: block
	width: 100%
	height: 100%
	position: absolute

.clear-list
	padding: 0
	margin: 0
	list-style-type: none

.inline-list
	padding: 0
	margin: 0
	list-style-type: none
	&>li
		display: inline-block

span.accent
	color: $accent

strong
	font-weight: 600

.col-right
	text-align: right
.col-left
	text-align: left
.col-center
	text-align: center

.img-responsive
	display: block
	max-width: 100%
	height: auto
	margin: 0 auto

// .main-wrapper
// 	display: flex
// 	flex-direction: column
// 	height: 100%
// 	position: relative

// .content
// 	flex: 1 0 auto
// 	position: relative
// 	background-color: $mainbg-light

.input
	height: 39px
	display: inline-block
	width: 100%
	border: 1px solid $border
	padding: 0 15px
	font-size: 12px
	color: #000
	&:focus
		border-color: #b1b1b1
	&_dark
		background-color: $input-dark

.textarea
	@extend .input
	resize: none
	padding: 10px 15px
	height: auto

.btn
	display: inline-block
	width: 100%
	height: 41px
	line-height: 38px
	border: 1px solid $border	
	background-color: #fff
	border-radius: 0
	text-transform: uppercase
	font-size: 12px
	font-weight: 600
	text-align: center
	color: $main
	&:hover,
	&:focus
		background-color: $accent
		color: #fff
		border-color: $accent
	&_accent
		background-color: $accent
		color: #fff
		border-color: $accent
		&:hover,
		&:focus
			background-color: $accent-dark
			border-color: $accent-dark
			color: #fff
	&_light
		background-color: $border-light
		color: #333
		border-color: $border-dark
	&_dark
		background-color: #000
		color: #fff
		border-color: #000
		&:hover,
		&:focus
			background-color: #fff
			border-color: #fff
			color: #000
	i
		font-size: 21px
		vertical-align: bottom
		line-height: 40px
		color: #7a7a7a

.check-label
	display: inline-block
	cursor: pointer
	padding-left: 29px
	height: 12px
	background-image: url('../img/check.png')
	background-repeat: no-repeat
	font-size: 12px

.checkbox
	display: none

.checkbox:checked + .check-label
	background-position-y: -12px

.page-title
	position: relative
	text-align: center
	font-size: 30px
	font-weight: 200
	color: $main
	text-transform: uppercase
	margin:
		top: 33px
		bottom: 24px
	padding-bottom: 18px
	&:before
		@extend .before
		width: 50px
		height: 2px
		background-color: #000
		bottom: 0
		left: 0
		right: 0
		margin: 0 auto

.scroll-top
	display: block
	height: 50px
	width: 50px
	z-index: 2
	text-align: center
	line-height: 50px
	color: $main
	background-color: #fff
	position: absolute
	bottom: 20px
	right: -55px
	font-size: 20px
	&:hover
		background-color: $border-dark

// ---- header ----

.header
	background-color: #fff

.top-line
	padding:
		top: 42px
		bottom: 39px

.header-phones
	@extend .inline-list
	font-weight: 300
	color: #616161
	font-size: 14px
	padding: 17px 0
	li
		margin-right: 20px
		i
			font-size: 20px
			vertical-align: middle

.header-right
	@extend .inline-list
	text-align: right
	padding: 	10px 0

.header-right__icon
	display: block
	position: relative
	color: #000
	font-size: 25px	
	margin-left: 17px
	span
		font-size: 11px
		font-weight: 600
		color: $accent
		position: absolute
		right: -5px
		top: 1px
	&:hover,
	&:focus
		color: $accent

.header-right__link
	font-size: 14px
	color: #000
	&:hover,
	&:focus
		color: $accent

.currency-switcher
	display: block
	border-right: 1px solid $border-dark
	border-left: 1px solid $border-dark
	color: #000
	margin: 
		left: 8px
		right: 3px
	padding: 
		left: 12px
		right: 8px
	font-size: 14px
	&:hover
		color: $accent
	&:focus
		color: #000

.header-popup
	@extend .clear-list
	border: 1px solid $border-dark
	background-color: #fff
	position: absolute
	top: 50px
	box-shadow: 0px 13px 38px 0px rgba(0,0,0,0.22)
	text-align: left
	z-index: -2
	transform: translateY(70px)
	opacity: 0
	transition: transform .4s, opacity .4s
	&:before
		@extend .before
		width: 7px
		height: 7px
		margin: 0 auto
		top: -7px
		left: 88px
		background-image: url('../img/before-triangle.png')
	&.active
		z-index: 3
		opacity: 1
		transform: translateY(0)
		transition: transform .4s, opacity .4s

.currency-mnu
	width: 206px
	right: 98px
	padding: 10px 0
	li
		display: block
		a
			display: block
			line-height: 31px
			padding-left: 19px
			font-size: 12px
			color: #616161
			span
				display: inline-block
				width: 32px
				color: #000
			&:hover
				background-color: #f4f4f4

.login-form
	width: 260px
	right: 30px
	color: #333
	padding: 
		top: 29px
		right: 19px
		left: 19px
		bottom: 19px
	&:before
		left: 0
		right: 0
	.input,
	.check-label
		margin-top: 10px
	.check-label
		margin-left: 16px
	.btn
		margin-top: 20px

.header-popup__title
	font-size: 12px
	text-transform: uppercase
	font-weight: 600

.login-form__forgot
	font-size: 11px
	display: inline-block
	color: #333
	text-decoration: underline
	margin:
		top: 10px
		left: 16px
	&:hover
		color: #333

.login-form__customer
	margin-top: 25px
	padding-bottom: 15px
	border-bottom: 1px solid $border

.cart-popup
	width: 300px
	right: 12px
	padding: 29px 20px 19px
	&:before
		right: 12px
		left: auto
	.btn
		margin-top: 10px
	.cart-popup__continue
		margin-top: 22px

.product-small-list
	@extend .clear-list
	margin-top: 10px
	li
		border-bottom: 1px solid $border


.product-small-item
	display: block
	padding: 10px
	width: 100%
	color: $main
	line-height: 1.2
	&:hover
		color: $main
		background-color: $border

.product-small-item__img
	float: left
	width: 70px
	height: 70px
	line-height: 70px
	border: 1px solid $border
	text-align: center
	background-color: #fff
	img
		display: inline-block
		max-height: 64px
		max-width: 64px

.product-small-item__text
	float: left
	padding-left: 11px
	max-width: calc(100% - 80px)
	padding-top: 3px
	&>div
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

.product-small-item__name
	width: 100%
	font-size: 12px
	color: #000
	margin-bottom: 3px

.product-small-item__model
	font-size: 10px
	color: #8c8c8c
	font-weight: 500

.product-small-item__descr
	font-size: 10px
	color: #8c8c8c

.product-small-item__price
	font-size: 14px
	color: #000
	margin-top: 5px

.cart-popup__result
	margin-top: 14px
	vertical-align: middle
	span
		display: inline-block
		font-size: 12px
		font-weight: 600
		color: #000
		text-transform: uppercase
		vertical-align: bottom
	strong
		display: inline-block
		float: right
		font-size: 18px
		font-weight: normal
		vertical-align: bottom

.main-mnu
	position: relative
	background-color: #fff
	.main-mnu-list
		@extend .inline-list
		display: inline-block
		&>li
			padding-top: 19px
			margin-right: 25px
			&>a
				font-size: 14px
				color: #000
				text-transform: uppercase
				font-weight: bold
				display: block
				padding-bottom: 19px
				border-bottom: 2px solid #fff
				&:hover
					color: #6a6a6a
			&.active
				&>a
					border-color: $accent

.header-mobile-top,
.header-mobile-bottom
	display: none

.header-mobile-phones
	display: none
	@extend .clear-list
	font-size: 11px
	text-align: center
	padding: 20px 0

.back-to-main
	display: none
	font-size: 10px
	line-height: 34px
	color: $main
	text-align: left
	border-bottom: 1px solid $border
	margin:
		right: -15px
		bottom: 10px
	padding-left: 10px
	&:hover,
	&:focus
		color: $main
	i
		display: inline-block
		font-size: 16px
		vertical-align: middle
		transform: rotate(90deg)

.search-btn
	float: right
	font-size: 24px
	color: $main
	vertical-align: middle
	text-align: right
	margin-top: 15px
	&:hover
		color: $accent
	&:focus
		color: $main

.search-btn-reset
	position: absolute
	top: 10px
	right: 10px
	font-size: 14px
	background-color: #fff
	border: none
	&:hover
		color: $accent

.search-form
	width: 0
	overflow: hidden
	max-width: 407px
	position: absolute
	right: 0
	top: 10px
	transition: .7s
	padding-bottom: 10px
	&.active
		width: 100%
	.input
		padding-right: 48px

.submenu
	width: 100vw
	background-color: #fff
	position: absolute
	z-index: 2
	padding: 33px 0
	left: calc(50% - 50vw)
	border-top: 1px solid $border
	z-index: -2
	transform: translateY(70px)
	opacity: 0
	transition: transform .4s, opacity .4s
	&_popular,
	&_mens
		.submenu__all-brands
			background-image: url(../img/submnu_1.jpg)
	&_ladies
		.submenu__all-brands
			background-image: url(../img/submnu_2.jpg)
	&_jewelry
		.submenu__all-brands
			background-image: url(../img/submnu_3.jpg)
	&_accessories
		.submenu__all-brands
			background-image: url(../img/submnu_4.jpg)
	&.active
		z-index: 3
		opacity: 1
		transform: translateY(0)
		transition: transform .4s, opacity .4s

.submenu__title
	text-transform: uppercase
	margin-bottom: 29px
	&_mt
		margin-top: 33px

.submenu__list
	@extend .clear-list
	font-size: 11px
	text-transform: uppercase
	li
		margin-bottom: 10px
		a
			display: inline-block
			color: #7c7c7c
			border-bottom: 1px solid transparent
			&:hover,
			&:focus
				color: $main
				border-bottom: 1px solid #7c7c7c
			span
				text-transform: none

.submenu__all-brands
	display: block
	position: relative
	width: 200px
	height: 200px
	text-align: center
	font-size: 17px
	color: #fff
	text-transform: uppercase
	font-weight: 300
	padding: 80px 30px
	letter-spacing: 2px
	float: right
	span
		position: relative
	&:before
		@extend .before
		background-color: #000
		opacity: .5
		top: 0
		left: 0
		transition: .4s
	&:hover,
	&:focus
		color: #fff
		&:before
			opacity: .6

.submenu__stock
	display: inline-block
	float: right
	margin-right: 30px
	color: $main
	&:hover
		color: $main
		text-decoration: underline
		.submenu__stock-link
			border-color: $main

.submenu__stock-link
	display: block
	width: 164px
	height: 139px
	border: 1px solid $border
	line-height: 137px
	text-align: center
	img
		max-width: 100%

.submenu__stock-title
	text-transform: uppercase
	text-align: center
	font-weight: 600
	margin-top: 23px

.submenu__stock-descr
	text-align: center
	font-size: 12px
	color: #7b7b7b
	margin-top: 5px

.submenu__abc
	width: 226px
	margin: 0 auto
	tr
		&:first-child
			td
				padding-top: 0
		&:last-child
			td
				padding-bottom: 0
				border-bottom: none
		td
			padding: 2px
			border-bottom: 1px solid $border
			border-right: 1px solid $border
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
				border-right: none
		a
			display: block
			height: 28px
			width: 28px
			text-align: center
			line-height: 28px
			text-transform: uppercase
			font-size: 11px
			color: #7c7c7c
			font-weight: normal
			&:hover,
			&:focus
				background-color: $accent
				color: #fff
		.btn
			width: 100%

.btn-nav
	width: 24px
	height: 24px
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: center
	cursor: pointer
	right: 15px
	z-index: 1000
	background-color: transparent

.btn-nav__row
	height: 1px
	width: 24px
	margin: 3px 0
	background-color: $main
	position: relative
	-webkit-transition: all .5s
	-o-transition: all .5s
	transition: all .5s
	&:last-child
		width: 16px

.btn-nav.active .btn-nav__row:first-child
	transform: rotate(-135deg)
	top: 7px;
	width: 24px;

.btn-nav.active .btn-nav__row:last-child
	transform: rotate(-225deg)
	top: -7px
	width: 24px

.btn-nav.active .btn-nav__row:nth-child(2)
	opacity: 0

// ---- footer ----

.footer
	background-color: $mainbg-dark
	color: $footer-color

.footer-main
	@extend .clear-list
	padding-top: 47px
	display: flex
	justify-content: space-between

.footer-main__item
	padding-bottom: 37px
	margin-right: 30px
	&:last-child
		margin-right: 0
		.footer-main__mnu
			padding-right: 0
			border: none

.footer-main__title
	text-transform: uppercase
	font-weight: bold
	margin-bottom: 25px
	i
		float: right
		display: none
		color: #bababa

.footer-main__mnu
	@extend .clear-list
	font-size: 14px
	padding-right: 30px
	border-right: 1px solid #c8c8c8
	li
		margin-bottom: 14px
		a
			color: $footer-color
			&:hover
				text-decoration: underline

.footer-bottom
	border-top: 1px solid #c8c8c8
	padding: 
		top: 40px
		bottom: 30px

.footer-social
	@extend .inline-list
	li
		a
			display: block
			width: 49px
			height: 49px
			text-align: center
			line-height: 49px
			font-size: 20px
			color: $main
			&:hover
				color: #fff
				background-color: $main

.footer-logo
	display: inline-block
	max-width: 160px

.copyright
	font-size: 10px
	margin-top: 10px

.footer-subscribe
	float: right
	display: inline-block
	width: 100%
	max-width: 296px
	position: relative
	.input
		height: 50px
		background-color: #e9e9e9
		border-color: #e9e9e9
		padding-right: 50px

.footer-subscribe__btn
	display: block
	height: 43px
	width: 43px
	border: none
	background-color: $main
	color: #fff
	font-size: 24px
	position: absolute
	right: 3px
	top: 3px
	&:hover,
	&:focus
		background-color: $accent-dark

.add-to-card
	position: relative
	background-color: #fff
	width: 100%
	max-width: 540px
	margin: 0 auto
	padding: 25px
	text-align: center

.add-to-card__title
	font-size: 24px
	text-transform: uppercase
	margin: 
		top: 15px
		bottom: 26px

.add-to-card__subtitle
	font-size: 14px

.add-to-card__btns
	@extend .inline-list
	padding-top: 20px
	li
		width: 48%
		margin-top: 15px

// ---- breadcrumbs ----

.breadcrumbs
	ul
		@extend .inline-list
		padding: 
			left: 15px
			right: 15px 
			top: 12px
			bottom: 10px
		border-bottom: 1px solid $border-dark
		font-size: 12px
		li
			a
				color: #616161
				&:hover
					color: #000
			i
				font-size: 16px
				vertical-align: middle
				margin: 0 5px
			span
				color: #000

// ---- iner-brands ----

.page-top-links
	@extend .inline-list
	text-align: center
	li
		width: 100%
		max-width: 400px
		margin:
			left: 10px
			right: 10px
			bottom: 24px
		.btn
			height: 50px
			line-height: 48px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
	&_main
		li
			max-width: 344px

.brands
	.row	
		margin:
			left: -10px
			right: -10px
	.col-lg-3
		padding: 
			left: 10px
			right: 10px

.brand-item__wrap
	display: block
	text-align: center
	background-color: #fff
	color: #000
	font-weight: 600
	padding: 
		top: 29px
		bottom: 30px
	margin-bottom: 20px
	transition: .4s
	&:hover
		color: #000
		box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.2)

.brand-item__img
	display: block
	margin: 0 auto
	margin-bottom: 46px
	height: 211px
	line-height: 211px
	vertical-align: middle
	img
		max-width: 100%
		max-height: 100%

// ---- inner-products ----

.products
	.row
		margin: 
			left: -5px
			right: -5px
	.col-lg-3
		padding: 
			left: 5px
			right: 5px
	.scroll-top
		bottom: 10px

.products-sidebar
	width: calc(20% - 10px)
	background-color: #fff
	float: left

.product-greed
	width: 80%
	float: right

.products-item
	position: relative
	text-align: center
	.btn
		position: absolute
		max-width: 148px
		z-index: -2
		top: 200px
		opacity: 0
		left: 0
		right: 0
		margin: 0 auto
		transform: translateY(50px)
		transition: opacity .4s, transform .4s
		box-shadow: 0px 11px 40px 0px rgba(0,0,0,0.41)
	&:hover
		.btn
			opacity: 1
			z-index: 2
			transform: translateY(0)
			transition: opacity .4s, transform .4s

.products-item__wrap
	display: block
	background-color: #fff
	color: #000
	text-align: center
	margin-bottom: 10px
	min-height: 455px
	padding: 
		top: 10px
		bottom: 24px
	&:hover
		color: #000

.products-item__wrap .img-responsive
    width: calc(100% - 30px)

.products-item__name
	padding: 0 15px
	font-weight: 600
	margin-top: 21px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.products-item__model
	font-size: 10px
	position: relative
	color: #8c8c8c
	padding-bottom: 14px
	margin-top: 6px
	&:before
		@extend .before
		width: 42px
		height: 1px
		background-color: $border
		left: 0
		right: 0
		bottom: 0
		margin: 0 auto

.products-item__descr
	font-size: 12px
	max-width: 176px
	height: 28px
	height: 28px
	overflow: hidden
	margin: 
		top: 13px
		left: auto
		right: auto

.products-item__condition
	font-size: 10px
	color: #8c8c8c
	margin-top: 10px

.products-item__price
	font-size: 24px
	margin-top: 16px
	color: #000

.products-item__oldprice
	color: #8c8c8c
	font-size: 14px
	text-decoration: line-through
	margin-top: 5px

.products-sidebar
	padding: 5px 16px 20px
	margin-bottom: 10px
	.jslider
		margin-top: 24px
		font-family: $default-font
		.jslider-label
			display: none !important
		.jslider-value
			font-size: 12px
			top: -23px
		.jslider-bg 
			.l,
			.f,
			.r
				height: 2px
				background-color: #d1d1d1
			.v
				background-color: #6e6e6e
				height: 2px
		.jslider-pointer
			height: 15px
			width: 15px
			border: 1px solid #a2a2a2
			border-radius: 50%
			top: -6px
			background-color: #fff
			&:before
				@extend .before
				height: 9px
				width: 9px
				background-color: #a2a2a2
				border-radius: 50%
				left: 2px
				top: 2px
			&-to
				border-color: #000
				&:before
					background-color: #000
	.btn
		margin-top: 15px

.jq-selectbox
	width: 100%
	.jq-selectbox__select
		background: #fff
		border-radius: 0
		border-color: $border
		box-shadow: none
		height: 36px
	.jq-selectbox__select-text
		height: 35px
		font-family: $default-font
		font-size: 12px
		color: $main
		font-weight: 300
	.jq-selectbox__trigger
		border-left: none
	.jq-selectbox__dropdown
		box-shadow: 0px 22px 38px 0px rgba(0,0,0,0.22)
		border-radius: 0
		li
			min-height: 32px
			line-height: 32px
			padding: 0 25px
			font-family: $default-font
			font-size: 12px
			color: $main
			font-weight: 300
			&.selected,
			&:hover
				background-color: #f1f1f1
				font-weight: 600
.products-sidebar__title
	font-size: 12px
	color: $main
	text-transform: uppercase
	font-weight: 600
	margin: 
		top: 15px
		bottom: 5px

.products-sidebar__check-list
	@extend .clear-list
	color: $main

.quick-view
	position: relative
	max-width: 850px
	background-color: #fff
	margin: 0 auto
	.product-card
		padding-top: 34px
	.product-slider
		padding-top: 0
		img
			max-height: 350px
	.product-slider-arr
		top: auto
		bottom: -13px
	.product-slider-descr
		font-size: 10px
	.product-descr
		padding:
			left: 0
			right: 0
	.product-title
		font-size: 24px
		padding-bottom: 29px
	.product-characteristics
		border-bottom: 1px solid $border
		padding-bottom: 24px
	.product-contacts
		padding: 0
	.chat-btn
		margin-top: 18px
	.product-prices
		margin-top: 15px
	.product-old-price
		font-size: 18px
	.product-new-price
		font-size: 30px

.quick-view__btns
	@extend .inline-list
	padding-top: 34px
	li
		float: left
		width: 50%
		&:last-child
			padding-left: 10px

// ---- product-card ----

.product-card
	padding: 46px 15px 27px
	background-color: #fff

.product-slider
	padding-top: 37px

.product-slider-arr
	background-color: transparent
	border: none
	position: absolute
	top: 40%
	font-size: 27px
	z-index: 2
	color: #b9b9b9
	&_prev
		transform: rotate(180deg)
		left: 8px
	&_next
		right: 8px
	&:hover
		color: $main

.slick-dots
	@extend .inline-list
	text-align: center
	margin-top: -25px
	li
		margin: 0 6px
		button
			display: block
			font-size: 0
			width: 10px
			height: 10px
			border: none
			border-radius: 50%
			background-color: #bcbcbc
			padding: 0
			position: relative
			&:hover
				background-color: $accent
		&.slick-active
			button
				background-color: $accent
				&:before
					@extend .before
					width: 16px
					height: 16px
					border: 1px solid #bcbcbc
					border-radius: 50%
					left: -3px
					top: -3px

.product-slider-descr
	font-size: 12px
	color: #a3a3a3
	text-align: center
	margin-top: 25px

.product-descr
	position: relative
	padding:
		left: 36px
		right: 15px

.product-title
	position: relative
	font-size: 30px
	text-transform: uppercase
	font-weight: 900
	padding:
		right: 40px
		bottom: 18px
	&:before
		@extend .before
		width: 50px
		height: 2px
		background: #000
		bottom: 0
		left: 0	

.product-subtitle
	font-size: 14px
	margin: 
		top: 22px
		bottom: 10px

.product-model
	font-size: 12px
	font-weight: 600
	color: #8b8b8b

.product-characteristics
	@extend .clear-list
	font-size: 14px
	padding-top: 21px
	color: #616161
	li
		margin-bottom: 8px
		.product-characteristics__left
			display: inline-block
			font-weight: 600
			width: 170px
		.product-characteristics__right
			strong
				color: $accent
				font-weight: 600

.product-contacts
	@extend .clear-list
	padding:
		left: 12px
		top: 20px
	color: #616161
	font-size: 14px
	i
		font-size: 20px
		vertical-align: middle

.product-btns
	@extend .clear-list
	padding-top: 20px
	margin-top: 22px
	border-top: 1px solid $border
	li
		width: 50%
		float: left
		padding: 
			right: 10px
			bottom: 10px

.product-prices
	margin-top: 34px

.product-old-price
	font-size: 24px
	font-weight: 300
	color: #8c8c8c
	text-decoration: line-through

.product-new-price
	font-size: 36px
	margin-top: 10px

.products-icons
	@extend .inline-list
	position: absolute
	bottom: -3px
	right: 28px
	li
		margin-left: 10px
		a
			font-size: 24px
			color: $main
			&:hover,
			&:focus
				color: $accent

.product-tabs
	background-color: #fff
	margin-top: 15px
	padding-top: 40px

.tabs-caption
	@extend .inline-list
	li
		line-height: 44px
		font-size: 18px
		font-weight: 300
		color: #616161
		cursor: pointer
		margin-right: 30px
		border-bottom: 2px solid transparent
		&:hover
			color: $main
		&.active
			font-weight: normal
			color: $main
			border-color: $accent

.tabs-content
	display: none
	border-top: 1px solid $border
	margin-top: -1px
	font-size: 14px
	padding:
		bottom: 80px
	&.active
		display: block
	p
		line-height: 1.7
		margin: 0
		strong
			font-weight: 600

.product-details-title
	font-size: 18px
	font-weight: 300
	border-bottom: 1px solid $border
	margin:
		top: 43px
		bottom: 33px
	padding-bottom: 15px

.product-details
	@extend .clear-list
	padding: 0 22px
	color: #616161
	li
		padding: 
			top: 4px
			bottom: 9px
		border-bottom: 1px solid $border
		.product-details__left
			width: 168px
			font-weight: 600
			color: $main
			display: table-cell
		.product-details__right
			display: table-cell
		&:last-child
			border: none

.text-block
	margin-top: 30px
	&_12
		font-size: 12px
		line-height: 2

.text-title
	text-transform: uppercase
	font-weight: 600
	margin-top: 30px
	&_18
		font-size: 18px

.products-under
	@extend .clear-list
	border-top: 1px solid $border
	margin-top: 30px
	padding-top: 30px
	font-size: 18px
	font-weight: 300
	li
		margin-bottom: 10px
		&:first-child
			margin-bottom: 33px
		&:last-child
			margin-bottom: 0
			margin-top: 38px
		.products-under__left
			width: 205px
			display: table-cell
		.products-under__right
			display: table-cell
		strong
			font-weight: 600

.question-list__title
	line-height: 38px

.question-list
	@extend .clear-list
	padding-right: 60px

.question-list__item
	border-bottom: 1px solid $border

.question-list__title
	cursor: pointer
	padding: 0 20px
	border-left: 2px solid #fff
	&:hover
		font-weight: 600
	&:before
		content: '+'
		font-size: 24px
		float: right
		font-weight: normal
	&.active
		background-color: $border
		font-weight: 600
		border-color: $accent
		&:before
			content: '-'
.question-list__text
	display: none
	font-size: 12px
	padding: 
		top: 20px
		left: 34px
		right: 34px
		bottom: 25px
	p
		margin: 0

.question-form
	.input
		margin-bottom: 10px
	.btn
		margin-top: 10px

.make-an-offer
	position: relative
	padding: 34px 25px 25px
	max-width: 950px
	background-color: #fff
	margin: 0 auto

.make-an-offer__left
	width: 316px
	float: left
	text-align: center

.make-an-offer__title
	font-size: 30px
	font-weight: 200
	text-transform: uppercase

.make-an-offer__img
	border: 1px solid $border
	margin: 27px auto 15px
	height: 316px
	line-height: 316px
	img
		max-height: 300px
		display: inline-block

.make-an-offer__wrap
	padding: 0 74px 15px
	border-bottom: 1px solid $border

.make-an-offer__name
	font-weight: 600
	position: relative
	text-transform: uppercase
	padding-bottom: 8px
	&:before
		@extend .before
		height: 1px
		width: 40px
		background-color: $border
		bottom: 0
		left: 0
		right: 0
		margin: 0 auto

.make-an-offer__descr
	font-size: 12px
	margin-top: 10px

.make-an-offer__model
	font-size: 12px
	color: #8b8b8b
	font-weight: 600
	margin-top: 6px

.make-an-offer__price
	font-size: 24px
	margin-top: 15px

.make-an-offer__btn
	margin-top: 10px

.make-an-offer-form
	width: calc(100% - 346px)
	float: right
	padding-top: 65px
	.row
		margin: 
			left: -5px
			right: -5px
	.col-md-4,
	.col-md-6,
	.col-md-8,
	.col-md-12
		padding: 
			left: 5px
			right: 5px
	.btn
		margin-top: 17px

.make-an-offer-form__title
	font-size: 18px
	font-weight: 600

.make-an-offer-form__subtitle
	font-size: 14px
	color: #616161
	margin:
		top: 12px
		bottom: 16px

.make-an-offer-form__label
	display: block
	font-size: 12px
	margin: 
		top: 14px
		bottom: 12px
	span
		color: #838383

.make-an-offer__how
	display: none
	position: absolute
	width: 100%
	height: 100%
	background-color: #fff
	left: 0
	right: 0
	top: 0
	bottom: 0
	padding: 33px 84px
	.text-title
		font-size: 14px
		margin-top: 27px
	.text-block
		font-size: 14px
		p
			line-height: 1.8
			margin: 25px 0

.make-an-offer__how-title
	font-size: 18px
	font-weight: 600
	margin-top: 30px

.make-an-offer__list
	@extend .clear-list
	counter-reset: num
	li
		margin-bottom: 5px
		&:before
			content: counter(num) '. '
			counter-increment: num 
			margin-right: 5px
			color: $accent

// ---- inner-section -----

.inner-section
	background-color: #fff
	padding: 46px 0px 80px
	font-size: 14px
	line-height: 1.7
	margin-bottom: 60px
	strong
		font-weight: 600
	.text-title
		margin-top: 28px
	.text-block
		margin-top: 28px
		ul
			margin: 0
			list-style-type: none
			li
				position: relative
				&:before
					@extend .before
					width: 8px
					height: 8px
					background-color: $accent
					left: -37px
					top: 7px
	p
		margin: 0

// ---- knowledge-base ----

.knowledge-base-title
	font-size: 18px
	font-weight: 600
	margin-bottom: 12px

.knowledge-base
	@extend .clear-list
	li
		border-top: 1px solid $border
		padding: 2px 0
		&:last-child
			border-bottom: 1px solid $border

.knowledge-base__item
	display: block
	position: relative
	padding: 
		top: 8px 
		right: 130px
		bottom: 7px
		left: 15px
	color: #616161
	border-right: 2px solid transparent
	&:hover
		font-weight: 600
		color: $main
		background-color: $mainbg-light
		border-color: $accent
		span
			color: $main
			font-size: 10px
	span
		position: absolute
		right: 15px
		top: 50%
		transform: translateY(-50%)
		font-size: 10px
		font-weight: normal
		font-size: 0
		color: #c6c6c6
		i
			font-size: 25px
			vertical-align: middle
			margin-left: 5px
			font-weight: normal

// ---- faq ----

.faq-block
	border-bottom: 1px solid $border
	padding-bottom: 14px
	font-weight: 300

.faq-list
	@extend .clear-list
	counter-reset: num
	padding-top: 19px
	li
		margin-bottom: 1px
		.faq-list__link
			font-weight: 300
			color: $main
			&:before
				content: counter(num) '. '
				counter-increment: num 
				margin-right: 5px
				font-weight: 600
			&:hover,
			&.active
				font-weight: 600
				&:before
					color: $accent

.faq-item
	position: relative
	&.active
		&:before
			@extend .before
			height: 100%
			width: 2px
			background-color: $accent
			left: -110px

// ---- contacts ----

.contacts
	padding-bottom: 0 !important

.contacts-block
	margin-bottom: 40px
	font-size: 14px

.contacts-title
	font-size: 18px
	font-weight: 600
	line-height: 1.3
	border-bottom: 1px solid $border
	padding-bottom: 15px
	margin-bottom: 25px

.contacts-addr
	font-size: 14px
	font-weight: 600

.contacts-list
	@extend .clear-list
	margin-top: 15px	
	li
		margin-bottom: 1px
		.contacts-list__left
			display: inline-block
			width: 95px
			&_long
				width: 230px
		.contacts-list__right
			color: #616161
		strong
			font-weight: 600
			color: $main

.contact-form
	.row
		margin: 
			left: -5px
			right: -5px
		.col-sm-6,
		.col-sm-12
			padding: 
				left: 5px
				right: 5px
	.input
		margin-top: 10px
	.btn
		margin-top: 18px

.contact-form__descr
	margin-bottom: 10px

// ---- paypal-finance ----

.paypal-finance
	max-width: 650px
	margin: 0 auto
	padding-top: 70px
	.text-block
		padding: 0 30px
	.btn
		margin-top: 57px

.paypal-finance__title
	font-size: 30px
	font-weight: bold
	color: #009cde
	text-align: center
	margin-top: 70px
	span
		color: #003087

.paypal-finance__subtitle
	color: #009cde
	text-align: center
	line-height: 2
	font-size: 16px
	border-bottom: 1px solid $border
	padding-bottom: 52px
	margin-bottom: 35px

// ---- order-and-returns

.orders-and-returns
	width: 100%
	max-width: 410px
	margin: 0 auto
	background-color: #fff
	padding: 41px 44px 25px
	font-size: 12px
	label,
	strong
		display: block
		margin:
			bottom: 14px
			top: 12px
	strong
		text-align: right
	.jq-selectbox
		.jq-selectbox__select
			height: 39px
			line-height: 36px
	.btn
		margin-top: 15px
 
.orders-and-returns__title
	font-size: 24px
	font-weight: 200
	text-align: center
	text-transform: uppercase
	margin-bottom: 27px

.orders-and-returns__descr
	line-height: 2
	margin-top: 19px
	border-bottom: 1px solid $border
	padding-bottom: 20px

// ---- about ----

.about
	.text-title
		border-bottom: 1px solid $border
		margin-top: 33px
		padding-bottom: 12px


.about-form
	background-color: $mainbg-light
	padding: 19px 30px 25px

.about-form__title
	font-size: 18px
	font-weight: 600
	margin-bottom: 4px

.about-subscribe
	position: relative
	.input
		height: 49px
		padding-right: 55px

.about-subscribe__btn
	@extend .footer-subscribe__btn
	background-color: $accent
	&:hover
		background-color: $accent-dark

.about-video-container
	border-top: 1px solid $border
	border-bottom: 1px solid $border
	padding: 
		top: 25px
		bottom: 35px
	margin-top: 24px

.about-video
	position: relative
	padding-bottom: 54%
	height: 0
	iframe
		position: absolute
		top: 0
		right: 0
		left: 0

.about__small-descr
	font-size: 12px
	strong
		font-size: 14px

// ---- 404 ----

.content-404
	text-align: center
	background-image: url('../img/404.jpg')
	background-size: cover
	background-position: center
	padding: 60px 0 160px
	color: #fff
	.btn
		max-width: 234px
		margin: 22px 0px 11px

.content-404__main
	font-size: 188px
	font-family: 'MontserratHairline', sans-serif

.content-404__title
	font-size: 30px
	font-weight: 900
	text-transform: uppercase
	margin-top: 45px

.content-404__subtitle
	font-size: 12px
	text-transform: uppercase
	font-weight: 900
	margin-top: 27px

.content-404__descr
	color: #9e9e9e
	font-size: 12px
	line-height: 1.6
	margin-top: 8px
	&_white
		color: #fff

.content-404__small-title
	font-size: 18px
	font-weight: 900
	position: relative
	text-transform: uppercase
	margin-top: 27px
	padding-top: 28px
	&:before
		@extend .before
		width: 50px
		height: 1px
		background-color: #9e9e9e
		top: 0
		left: 0
		right: 0
		margin: 0 auto

.content-404__links
	@extend .inline-list
	padding-top: 10px
	li
		&:first-child
			border-right: 1px solid #fff
			line-height: 1
			padding-right: 5px
		a
			font-size: 12px
			color: #fff
			text-decoration: underline
			&:hover
				text-decoration: none

// ---- testimonials ----

.testimonials-wrap
	position: relative
	border-bottom: 1px solid $border
	height: 142px

.testimonials-text
	height: 40px

.testimonials-item
	width: 100%
	background-color: #fff
	&.active
		position: absolute
		top: -1px
		left: 0
		right: 0
		box-shadow: 0px 13px 38px 0px rgba(0,0,0,0.22)
		z-index: 1
		padding-top: 1px
		.testimonials-item__text
			height: auto !important
		.testimonials-item__dots
			color: $accent

.testimonials-item__img
	display: table-cell
	width: 95px
	padding:
		left: 10px
		top: 10px
	img
		max-height: 141px

.testimonials-item__descr
	display: table-cell
	vertical-align: top
	font-size: 14px
	width: 79%
	padding:
		left: 15px
		top: 20px

.testimonials-item__name
	font-weight: 600
	margin-bottom: 5px

.testimonials-item__bottom
	margin-top: 15px
	padding:
		right: 15px
		bottom: 5px

.testimonials-item__text
	min-height: 46px
	overflow: hidden
	padding-right: 35px

.testimonials-item__date
	float: right
	font-size: 12px

.testimonials-item__dots
	font-size: 18px
	line-height: 12px
	display: none


// ---- account ----

.account-sidebar
	padding: 
		left: 80px
		right: 65px
	.product-small-list
		margin-bottom: 15px
		li
			margin-bottom: 7px
			border: none
	.product-small-item
		padding: 4px

.account-title
	@extend .contacts-title
	&_14
		font-size: 14px
	&_16
		font-size: 16px
	&_ttu
		text-transform: uppercase

.account-mnu
	@extend .clear-list	
	li
		a
			display: block
			padding: 0 15px
			color: #616161
			line-height: 30px
			white-space: nowrap
			&:hover
				font-weight: 600
		&.active
			a
				background-color: #f1f1f1
				font-weight: 600

.account-sidebar__block
	padding-top: 23px

.last-ordered-descr
	font-size: 12px
	color: #848484
	margin-top: -18px

.last-ordered-links
	border-top: 1px solid $border
	padding-top: 10px
	.last-ordered__all
		display: inline-block
		float: left
		color: $accent
		text-decoration: underline
		font-size: 13px
		padding: 0 5px
		line-height: 39px
		&:hover
			text-decoration: none
	.btn
		float: right
		width: 138px

.account-form
	.row
		margin: 
			right: -5px
			left: -5px
	.col-sm-6,
	.col-sm-12,
	.col-sm-5,
	.col-sm-3
		padding: 
			right: 5px
			left: 5px
	.input
		margin-bottom: 10px
	.check-label
		font-size: 14px
		line-height: 1
	.btn
		margin-top: 23px

.account-form__descr
	font-size: 14px
	color: #616161

.account-form__title
	font-weight: 600
	margin: 20px 0

.account-form__required
	border-top: 1px solid $border
	text-align: right
	font-size: 12px
	font-weight: 600
	padding: 10px
	margin-top: 5px

.account-form__forgot
	text-align: right
	a
		font-size: 12px
		color: $main
		text-decoration: underline
		margin-top: 5px
		&:hover
			color: $main
			text-decoration: none

// ---- account-login ----

.login-block
	position: relative
	margin-bottom: 52px
	.account-form__descr
		margin-bottom: 20px

.login-block__btn
	position: absolute
	bottom: 0
	left: 0
	right: 0

.login-block__text
	padding-top: 43px

.btn_amazon
	max-width: 234px
	background-color: #37475a
	color: #fff
	i
		font-size: 23px
		font-weight: normal
		vertical-align: bottom
		line-height: 35px
		color: #fff
	&:hover
		background-color: #455f7d
		color: #fff

// ---- account-password ----

.forgot-form
	.input
		margin: 25px 0 29px

// ---- account-dashboard ----

.account-hello
	font-size: 12px
	color: #848484
	padding: 0 28px
	strong
		color: $main
		font-size: 14px
		display: block 
		margin-bottom: 7px

.account-block
	padding-top: 37px
	.account-title
		font-weight: normal
		font-size: 14px
		text-transform: uppercase

.account-title__link
	float: right
	text-transform: none
	color: $accent
	text-decoration: underline
	font-size: 12px
	font-weight: normal
	line-height: 18px
	&:hover,
	&:focus
		text-decoration: none
		color: $accent

.recent-orders
	width: 100%
	td
		border: 1px solid #bfbfbf
		text-align: center
		font-size: 12px
		height: 22px
		strong
			display: none
	tr
		&:nth-child(odd)
			td
				background-color: #f8f8f8
	.recent-orders__head
		td
			text-align: center
			height: 41px
			font-weight: 600
	a
		text-decoration: underline
		color: #777
		&:hover
			text-decoration: none
	.accent
		color: $accent
		&:hover
			color: $accent
	.succes
		color: #7da789
		&:hover
			color: #7da789

.account-inner
	padding-left: 30px

.account-information
	.input
		background-color: #fafafa
		border-color: #d1d1d1
		max-width: 240px
		margin-top: 12px
		float: left
		&::-webkit-input-placeholder
			color: #a8adb3
		&:-moz-placeholder
			color: #a8adb3
		&::-moz-placeholder
			color: #a8adb3
		&:-ms-input-placeholder
			color: #a8adb3

.account-information__left
	float: left
	width: 65%

.account-information__right
	float: left
	width: 35%

.account-information__title
	font-size: 16px

.account-information__descr
	font-size: 12px
	margin-top: 3px
	line-height: 27px
	i
		color: $accent
		font-size: 16px
		vertical-align: super

.account-information__link
	display: inline-block
	color: $accent
	text-decoration: underline
	line-height: 39px
	margin-top: 12px
	margin-left: 20px
	font-size: 12px
	&:hover,
	&:focus
		color: $accent
		text-decoration: none

.newsletter-switcher
	padding-top: 20px

.newsletter-switcher__btn
	display: inline-block
	position: relative
	width: 41px
	height: 26px
	background-color: $border
	border: 1px solid $border-dark
	border-radius: 10em
	&:before
		@extend .before
		width: 27px
		height: 27px
		background-color: #fff
		border: 1px solid $border-dark
		border-radius: 50%
		top: -2px
		left: -2px
		transition: .2s
	&.active
		background-color: $accent
		&:before
			transform: translateX(17px)

.newsletter-switcher__text
	display: inline-block
	line-height: 26px
	vertical-align: top
	margin-left: 15px
	font-size: 12px

.account-addres-book
	border-bottom: 1px solid $border

.account-addres-book__title
	font-size: 16px
	i
		color: $accent
		font-size: 24px
		vertical-align: middle

.account-addres-book__list
	@extend .clear-list
	display: inline-block
	width: 270px
	color: #919191
	margin-bottom: 35px
	span
		color: $main

.account-addres-book__edit-link
	display: block
	font-size: 13px
	color: $accent
	text-decoration: underline
	margin-top: 17px
	&:hover,
	&:focus
		color: $accent

.account-addres-book__descr
	color: #919191
	font-size: 12px
	margin-top: 30px

// ---- cart ----

.cart__or
	font-size: 14px
	text-align: center
	text-transform: uppercase
	line-height: 41px

.cart__btn-list
	@extend .inline-list
	display: flex
	justify-content: space-between
	li
		width: 49%
		width: calc(50% - 5px)

.cart-main
	width: 100%
	margin-top: 33px
	tr
		border-bottom: 1px solid $border
	td
		text-align: center
		&:nth-child(2)
			text-align: left
			padding: 0 64px
	thead
		td
			height: 34px
			font-size: 12px
			text-transform: uppercase
			font-weight: 600
			color: #8c8c8c
	tbody
		td
			height: 150px

.cart-main__img
	width: 12%
	a
		display: block
		width: 100%
		max-height: 120px
		img
			max-width: 100%
			max-height: 120px

.cart-main__descr
	width: 35%

.cart-main__name
	font-size: 14px
	font-weight: 600
	color: #000
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

.cart-main__model
	font-size: 12px
	color: #8c8c8c
	margin: 12px 0

.cart-main__descr
	font-size: 12px
	color: #000
	line-height: 1
	height: 24px
	overflow: hidden

.cart-main__sky
	width: 15%
	font-size: 16px
	font-weight: 300

.cart-main__qty
	width: 18%
	.clearfix
		display: inline-block

.cart-main__input
	width: 50px
	text-align: center
	padding: 0
	vertical-align: middle
	float: left

.cart-main__arrows
	@extend .clear-list
	display: inline-block
	line-height: 20px
	float: left
	margin-left: 10px
	li
		cursor: pointer
		color: #c7c7c7
		user-select: none
		&:hover
			color: $main

.cart-main__total
	width: 14%
	font-size: 18px
	color: #000

.cart-main__delete
	width: 6%
	a
		font-size: 20px
		color: #616161
		&:hover
			color: $accent

.cart-result__item
	padding-top: 19px

.cart-subtotal
	font-size: 18px
	font-weight: 300
	text-align: right
	color: #8c8c8c
	padding-right: 22px

.cart-total
	display: table
	width: 100%

.cart-total__left
	display: table-cell
	font-size: 14px
	color: #000
	vertical-align: bottom
	line-height: 2

.cart-total__right
	display: table-cell
	font-size: 24px
	vertical-align: bottom
	text-align: right
	padding-right: 22px

.cart-checkout__btn
	margin-top: 37px

.financing-program
	padding: 0 20px
	float: left
	width: 58%

.financing-program__title
	font-size: 16px

.financing-program__text
	font-size: 12px
	line-height: 18px
	color: #616161
	margin-top: 13px

.financing-program__link
	display: inline-block
	color: $accent
	font-size: 13px
	text-decoration: underline
	margin-top: 12px
	&:hover,
	&:focus
		text-decoration: none
		color: $accent

.cart-promocode
	float: right
	width: 42%
	padding: 
		top: 7px
		left: 34px
		right: 34px
		bottom: 20px
	border-left: 1px solid $border
	border-right: 1px solid $border
	font-size: 12px
	color: #616161
	.input
		text-align: center
		height: 55px
		margin: 
			top: 9px
			bottom: 16px

// ---- checkout ----

.checkout
	padding: 
		left: 95px
		right: 95px

.checkout-main
	padding: 0 15px
	width: 67%
	float: left

.checkout-right
	padding: 0 15px
	width: 33%
	float: left
	.account-title
		padding-left: 14px

.checkout-title__login
	font-weight: normal
	font-size: 12px
	float: right
	padding-right: 20px
	a
		color: $accent
		text-decoration: underline
		&:hover
			text-decoration: none
			color: $accent

.checkout-form
	padding-left: 27px
	.row
		margin: 
			right: -5px
			left: -5px
		.col-sm-6,
		.col-sm-12
			padding: 
				right: 5px
				left: 5px
	.input
		margin-bottom: 10px
	.btn
		margin-top: 15px
	.jq-selectbox 
		.jq-selectbox__select
			height: 39px
			margin-bottom: 10px
		.jq-selectbox__select-text
			height: 39px
			line-height: 38px

.checkout-form__label
	font-size: 12px
	margin-bottom: 11px

.checkout-title
	font-size: 14px
	text-transform: uppercase
	border-bottom: 1px solid $border
	margin-top: 40px
	padding-bottom: 13px

.checkout-step
	padding-top: 18px

.checkout-form__title
	font-size: 16px
	margin-bottom: 16px

.radio-list
	@extend .clear-list
	padding:
		left: 24px
		bottom: 15px
	li
		margin-bottom: 16px

.radio-label
	display: block
	font-size: 12px
	height: 11px
	line-height: 1
	padding-left: 29px
	background-image: url(../img/radio.png)
	background-repeat: no-repeat
	cursor: pointer

.radio:checked + .radio-label
	background-position: 0 -11px

.checkout-sidebar
	border: 1px solid $border
	border-top: none
	margin-top: -25px
	padding: 0 20px 20px
	.product-small-item
		padding: 
			left: 0
			right: 0
		&:hover
			background-color: #fff
	.product-small-item__text
		width: calc(100% - 145px)
	.product-small-item__amount
		width: 65px
		text-align: center
		float: left
		line-height: 68px

.checkout-subtotal
	@extend .clear-list
	padding-top: 15px
	font-size: 12px
	color: #000
	li
		margin-bottom: 4px
		span
			float: right
			font-size: 14px
			font-weight: 300
			color: $main

.checkout-total
	padding: 15px 0 24px
	font-size: 14px
	text-transform: uppercase
	font-weight: 600
	color: #000
	line-height: 18px
	span
		float: right
		font-size: 18px
		font-weight: normal

.payment-message
	max-width: 540px
	background-color: #fff
	text-align: center
	margin: 0 auto
	padding: 47px 15px 30px
	.btn
		max-width: 240px
		margin-top: 30px

.payment-message__icon
	display: block
	height: 80px
	width: 80px
	text-align: center
	line-height: 78px
	border: 3px solid $border
	border-radius: 50%
	font-size: 60px
	color: $border
	margin: 0 auto

.payment-message__title
	font-size: 24px
	text-transform: uppercase
	margin: 35px 0

.payment-message__orders
	font-size: 16px
	color: #919191
	font-weight: 300
	span
		font-weight: normal
		color: $main

.payment-message__text
	color: #919191
	font-size: 12px
	font-weight: 300
	max-width: 410px
	margin: 7px auto 0

// ---- account-edit ----

.account-edit-form
	.account-form__required
		margin-top: 35px
	.btn
		margin-top: 15px
	.jq-selectbox 
		.jq-selectbox__select
			height: 39px
			margin-bottom: 10px
		.jq-selectbox__select-text
			height: 39px
			line-height: 38px

.account-edit-form__inner
	padding: 0 27px
	.row
		margin: 
			right: -5px
			left: -5px
		.col-sm-6,
		.col-sm-12
			padding: 
				left: 5px
				right: 5px
	.input
		margin-bottom: 10px

.account-edit-form__descr
	font-size: 12px
	color: #848484
	margin-top: 20px

// ----- account-orders -----

.account-orders
	padding-bottom: 45px
	border-bottom: 1px solid $border

.account-orders__head
	border-bottom: 1px solid $border
	padding-bottom: 7px
	margin-bottom: 25px
	font-size: 12px
	.jq-selectbox
		width: 55px
		margin: 0 5px
		.jq-selectbox__select
			padding-right: 0

.account-orders-btn
	margin-top: 51px

.view-order-title-right
	float: right
	font-size: 12px
	font-weight: normal
	line-height: 20px
	i
		font-size: 32px
		vertical-align: middle
		margin: 0 10px
	a
		color: $main
		&:hover
			color: #777
			text-decoration: underline

.view-order-date
	font-size: 12px
	margin-bottom: 25px
	padding-left: 30px

.items-ordered
	width: 100%
	td
		border: 1px solid #bfbfbf
		text-align: center
		font-size: 12px
		height: 27px
		&:first-child
			text-align: left
			padding-left: 20px
		&.tar
			text-align: right
			padding-right: 20px
		div
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			max-width: 204px
	tr
		&:nth-child(odd)
			td
				background-color: #f8f8f8
	.items-ordered__head
		td
			text-align: center
			height: 41px
			font-weight: 600
			&:first-child
				text-align: left

.items-ordered__name
	width: 204px

.items-ordered-wrap
	padding-bottom: 27px
	border-bottom: 1px solid $border
	margin-top: 45px

.payment-info
	font-size: 12px
	background-color: #e5f3e9
	color: #616161
	margin: 0 30px
	padding: 10px 23px

.wishlist
	td
		text-align: center
		&:nth-child(2)
			text-align: left
			padding: 0 15px 0 25px  
	thead
		td
			text-transform: none
	.btn
		margin-bottom: 10px

.wishlist__descr
	width: 30%

.wishlist__qty
	width: 15%
	.clearfix
		display: inline-block

.wishlist__price
	width: 20%
	span
		display: block
		color: #8c8c8c
		text-decoration: line-through
		font-size: 14px

// ---- inner-compare -----

.compare
	background-color: #fff
	padding-bottom: 60px
	margin-bottom: 60px

.compare-wrap
	overflow-x: scroll

.compare-table
	width: 100%
	tr
		&:nth-child(even)
			td
				background-color: #f8f8f8
		&:first-child
			td
				border-top: none
				&:first-child
					border-left: none
		&:last-child
			td
				&:first-child
					border-left: none
					border-bottom: none
		&:hover
			td
				background-color: #fbfae5
				&:first-child
					position: relative
					&:before
						@extend .before
						width: 2px
						background-color: $accent
						left: -1px
			&:first-child,
			&:last-child
				td
					background-color: transparent
					&:before
						display: none
	td
		width: 225px
		min-width: 225px
		border: 1px solid $border
		font-size: 12px
		padding: 0px 15px
		vertical-align: top
		line-height: 24px
		&.compare-table__short-descr
			font-size: 11px
			line-height: 18px
		&.compare-table__card,
		&.compare-table__bottom
			padding:
				top: 45px
				bottom: 20px
			position: relative
			font-size: 16px
			line-height: 1.2
			.products-item__model
				padding-bottom: 0
				&:before
					display: none
			.products-item__descr
				max-width: 100%
				color: #000
			.btn
				margin-top: 25px
		&.compare-table__bottom
			padding-top: 0


.compare-table__img
	text-align: center
	position: relative
	img
		max-height: 190px
		margin: 0 auto

.compare-table__delete
	font-size: 20px
	color: $main
	position: absolute
	top: 12px
	right: 15px
	&:hover
		color: $accent

.compare-table__fav
	position: absolute
	bottom: 10px
	right: 20px
	&:before
		content: "\e812"
		font-family: "icons"
		font-size: 22px
		color: $main
	&:hover
		&:before
			color: $accent
	&.active
		&:before
			content: '\E821'
			color: $accent

.compare-table__name
	color: #000
	font-size: 16px
	font-weight: 600
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	max-width: 199px

.compare-table__prices
	height: 49px

// ---- index ----

.main-banner
	.slick-dots
		text-align: center
		margin-top: 0
		position: absolute
		left: 0
		right: 0
		bottom: 25px 
		li
			button
				background-color: #2c2c2c
			&.slick-active 
				button
					background-color: #fff

.main-banner__slide
	background-size: cover
	background-position: center

.main-banner-composition
	display: flex
	align-items: center
	height: 450px
	.btn
		max-width: 240px
		margin-top: 35px

.main-banner__title
	font-size: 36px
	text-transform: uppercase
	color: #fff
	font-weight: 200

.main-banner__text
	font-size: 14px
	color: #8d8b8b
	font-weight: 300
	line-height: 18px
	margin-top: 22px

.main-page-list
	background-color: $mainbg-light
	margin: 
		top: 15px
		bottom: 35px
	ul
		@extend .inline-list
		display: flex
		align-items: center
		justify-content: center
		li
			margin: 0
			a
				display: block
				position: relative
				color: #000
				font-size: 14px
				font-weight: bold
				text-align: center
				padding: 0 30px
				white-space: nowrap
				text-transform: uppercase
				line-height: 40px
				border-left: 1px solid #fff
				border-right: 1px solid #dadada
				border-bottom: 2px solid transparent
				&:hover,
				&:focus
					color: #000
					border-bottom-color: $accent
			&:first-child
				a
					&:before
						@extend .before
						width: 1px
						background-color: #dadada
						left: -2px
			&:last-child
				a
					&:before
						@extend .before
						width: 1px
						background-color: #fff
						right: -2px
	&_bottom
		margin: 0
		ul
			li
				a
					line-height: 56px

.main-readmore
	position: relative
	font-size: 10px
	line-height: 16px
	color: #848484
	background-color: #fff
	white-space: nowrap
	margin-top: 7px
	padding: 8px 94px 8px 46px
	overflow: hidden
	margin-bottom: 10px
	transition: .4s
	&.active
		white-space: normal
		height: auto
		.main-readmore__btn
			i
				transform: rotate(180deg)

.main-readmore__btn
	display: inline-block
	height: 32px
	width: 97px
	padding-left: 15px
	line-height: 32px
	background-color: #fff
	position: absolute
	right: 0
	bottom: 0
	color: $main
	&:focus
		color: $main
	&:hover
		color: $accent
	i
		display: inline-block

.main-category
	@extend .clear-list
	margin: 
		left: -10px
		right: -10px
	li
		float: left
		width: 20%
		padding: 0 10px
	.brand-item__wrap
		border: 1px solid transparent
		&:hover
			box-shadow: none
			border-color: $border

.learn-more
	position: relative
	text-align: center
	text-transform: uppercase
	font-size: 14px
	font-weight: 600
	padding: 10px 0
	&:before
		@extend .before
		height: 1px
		background-color: $border
		right: 0
		left: 0
		top: 50%
	span
		display: inline-block
		padding: 0 30px
		background-color: $mainbg-light
		position: relative
		a
			color: $accent
			&:hover
				color: $accent
				text-decoration: underline

.homepage-title
	position: relative
	font-size: 30px
	text-transform: uppercase
	font-weight: 300
	position: relative
	text-align: center
	&:before
		@extend .before
		height: 1px
		background-color: $border
		right: 0
		left: 0
		top: 50%
	span
		display: inline-block
		padding: 0 30px
		background-color: #fff
		position: relative
		strong
			font-weight: 900

.homepage-subtitle
	font-size: 12px
	color: #c8c8c8
	text-align: center
	margin-top: 15px

.main-blog
	background-color: #fff
	padding-bottom: 58px

.blog-item
	margin-top: 34px
	&:hover
		.blog-item__thumb
			&:before
				transform: scale(0.9)
		.blog-item__date
			i
				color: $accent

.blog-item__thumb
	display: block
	position: relative
	max-height: 225px
	overflow: hidden
	img
		width: 100%
	&:before
		@extend .before
		border: 1px solid rgba(#fff, 0.4)
		left: 0
		top: 0
		transition: .2s

.blog-item__date
	font-size: 14px
	color: #8c8c8c
	margin-top: 13px
	i
		font-size: 18px

.blog-item__title
	display: block
	font-size: 16px
	font-weight: 300
	line-height: 24px
	text-transform: uppercase
	color: $main
	margin-top: 13px
	height: 48px
	overflow: hidden
	&:hover,
	&:focus
		color: $main

.main-fav
	background-color: #fff
	margin-top: 24px
	padding:
		top: 60px
		bottom: 20px

.fav-item
	display: block
	position: relative
	margin-bottom: 32px
	color: $main
	transition: .2s
	border: 1px solid transparent
	overflow: hidden
	&_bordered
		&:before
			@extend .before
			height: calc(100% - 36px)
			width: calc(100% - 36px)
			top: 18px
			left: 18px
			border: 1px solid #d9d9d9
	&_1
		height: 415px
		text-align: center
		background-color: #f7f5e8
		text-transform: uppercase
		font-size: 24px
		font-weight: 300
		img
			max-height: 100%
			vertical-align: middle
		.fav-item__img
			padding-top: 33px
	&_2
		padding: 261px 55px 25px
		height: 415px
		background-color: #edf4f8
		img
			position: absolute
			height: 100%
			bottom: 0
			right: 0
	&_4
		height: 334px
		padding: 179px 55px 25px
		background-color: #eaeae2
		img
			position: absolute
			bottom: 0
			right: 58px
			height: 308px
	&_5
		height: 334px
		background-color: #edf4f8
		padding: 40px 20px 40px 60px
		img
			position: absolute
			bottom: 0
			left: 0
		.fav-item__title
			font-size: 24px
			strong
				font-weight: 900
	&:hover
		color: $main
		border-color: #d9d9d9
	&:focus
		color: $main

.fav-item__title
	font-size: 36px
	text-transform: uppercase
	font-weight: 300
	position: relative

.fav-item__text
	font-size: 12px
	line-height: 18px
	max-width: 265px
	margin-top: 14px
	position: relative

.insta-gallery
	padding-top: 73px

.inst-list
	@extend .clear-list
	padding-top: 60px
	li
		width: 20%
		float: left

.inst-list__link
	display: block
	max-height: 244px
	overflow: hidden
	img
		width: 100%

@import "media" // Всегда в конце